body{
    margin:0;
    padding:0;
    background:url(bg.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.loginbox{
    width:320px;
    height:420px;
    background:#fff;
    color: #000;
    top:50%;
    left:50%;
    position:absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.bg{
    width:100px;
    height:100px;
    border-radius:50%;
    position:absolute;
    top:-50px;
    left:calc(50%,-50%);
    margin:0;
    padding:0;

}
.loginbox input{
    width:100%;
    margin-bottom:20px;

}
.loginbox input[type="text"],input[type="password"]
{
    border:none;
    border-bottom: 1px solid#fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size:16px;

}
.loginbox input[type="login"]
{
    border: none;
    outline:none;
    height:40px;
    background: #fb2525;
    color:#fff;
    font-size:18px;
    border-radius: 20px;
}
.loginbox a{
    text-decoration: none;
    font-size:12px;
    line-height:20px;
    color:darkgrey;
}
.loginbox a:hover{
    color:#ffc107;
}